<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> fancy todo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style media="screen">
      body {
        margin: 17px;
        padding: 3px
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="col-md-12 welcome text-center">
        <h2>FANCY TODO APP </h2>
      </div>
      <br>
      <h3> Search Your Todo List Here:</h3>
      <input type="text" v-model="search" placeholder="input task name">
      <br>

      <h3> Your Todo List:</h3>
      <div class="task">
        <div class="row">
          <div class="panel panel-info col-md-6" v-for="task in filterTasks">
          <!-- <div class="panel panel-info col-md-6" v-for="task in tasks"> -->
            <div class="panel-heading"> {{ task.taskname }} </div>
            <div class="panel-description">
            <!-- disini jadi tempat modal EDITING e -->
            <button type="button" class="btn btn-link btn-sm" data-toggle="modal" :data-target="'#myModal'+task._id">Edit</button>
            <!-- modal -->
            <div :id="'myModal'+task._id" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- modal content e -->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Edit task:</h3>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label class="control-label col-md-6">Task:</label>
                        <input type="text" v-model="taskname" class="form-control" placeholder="new task">
                        <!-- <button type="button" class="btn" @click="updateTask(task._id)" data-dismiss="modal">submit</button> -->
                          <button type="button" class="btn" @click="updateTask(task._id, idx)" data-dismiss="modal">submit</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
<!-- modal edit end -->

            <a v-on:click="deleteTask(task._id, idx)" class="btn-floating waves-effect waves-light red" style="margin-left: 8px"><i class="material-icons">delete</i></a>
            </div>
            <div class="panel-footer"> Tags: {{ task.tags }} </div>
          </div>
        </div>
      </div>

      <!-- place for add  -->
      <h3> Here to add item: </h3>
      <form method="post" @submit.prevent="addTask">
        <label> Taskname: </label>
        <input type="text" v-model="taskname" name="taskname" placeholder="new task" required>
        <label> Tags: </label>
        <input type="text" v-model="tags" name="tags" placeholder="tags">
        <button type="submit" class="btn btn info"> add </button>
      </form>
    </div>

    <script src="component.js"></script>
    <script type="text/javascript">
      const todo = new Vue ({
        el: '#app',
        created: function() {
          let self = this;
          axios.get('http://localhost:3000/task')
          .then( (response) => {
            self.tasks = response.data
          })
        },
        data: {
          idx: '',
          tasks: [],
          search: '',
          tags: '',
          taskname: '',
          token: localStorage.getItem("tokenuser")
          // editedObject: {
          //   _id: '',
          //   taskname: '',
          //   tags: ''
          // }
        },
        computed: {
          filterTasks: function() {
            return this.tasks.filter((task) => {
              return task.taskname.match(this.search)
            })
          }
        },
        methods: {
          addTask: function() {
            let self = this;
            axios.post('http://localhost:3000/task', {
              taskname: self.taskname,
              tags: self.tags
            })
            .then( response => {
              console.log(response.data);
              this.tasks.push(response.data)
            })
            .catch( err => {
              console.log(err);
            })
          },
          deleteTask: function(id, idx) {
            let self = this;
            if(window.confirm('Deleting this? ( this cant be return)')) {
            axios.delete(`http://localhost:3000/task/${id}`)
            .then( response => console.log(response))
            this.tasks.splice(this.tasks.indexOf(idx), 1);
            // router push have nothing todo with auto render
            }
          },
          updateTask: function(id, idx) {
            console.log('id nya')
            let self = this
            axios.put(`http://localhost:3000/task/${id}`, {
              taskname: self.taskname
            })
            .then(response => {
              console.log(response)
              this.tasks.splice(idx, 1, response.data.taskname);
              // this.tasks.forEach(task => {
              //   if(task._id == ) {
              //     task.taskname = response.data.taskname
              //   }
              // })
            })
          }
          // ,

          // editTask: function(){
          //   let self = this
          //   axios.put(`http://localhost:3000/task/${this.editedObject._id}`, {
          //     taskname: this.editedObject.taskname
          //   })
          //   .then({response})=> {
          //     this.tasks.forEach((task, i) => {
          //       if(task._id == this.editedObject._id) {
          //         task.taskname = this.editedObject.taskname
          //       }
          //     })
          //   }
          // }

        }
      })

    </script>
  </body>
</html>
